* {
    font-family: 'Circular';
}

@font-face {
    font-family: 'Circular';
    src: url('Circular/CircularStd-Book.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('Circular/CircularStd-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('Circular/CircularStd-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('Circular/CircularStd-Black.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.heading {
    font-family: 'circular';
    width: 10%;
    margin: 3% auto;
}

.heading h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

.heading p {
    margin: 0;
    text-align: center;
    color: #9e9e9e;
}

.stopwatch-container {
    text-align: center;
}

#stopwatch {
    font-size: 48px;
    font-weight: bold;
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #159895;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1A5F7A;
}

button:active {
    background-color: #159895;
}